body {

    font-family: "Trebuchet MS", serif;

    font-size: 120%;
    /*background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);*/
    background: linear-gradient(to top, #0a5406 0%, #43823f 100%);
}

h1 {

    font-family: "Arial", serif;

}

#header {
    margin-top: 20px;
    font-size: 160px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to top, #0a5406 0%, #43823f 100%);
    margin-bottom: 50px; /*keep tables below logo*/

}

tr {
    background-color: white;
    color: black;

}

tr a {
    color: black;
    text-decoration: none;

}

tr:hover {
    background-color: #f5f5f5;

}


#logo {
    margin-top: 20px;
    float: left;
    border-radius: 30px;
    display: none;
}

#loading {
    color: white;
    font-size: 30px;
    padding: 120px;
    background-color: #cecece;
    border: 1px solid #ddd;

}


table {
    width: 100%;
    border: 1px solid #ddd;
}

tr {
    height: 50px;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding-left: 3px; /*So text doesn't start right at edge*/
}

#stream th {
    color: white;
    background-color: #23822b;
    border-bottom: 3px solid #ddd;

}

tr:first-child td {
    background-color: #23822b;
    color: white;
    border-bottom: 3px solid #ddd;
}

.button {
    background-color: #23822b;
    /*#4CAF50; Bright Green from W3Schools */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Trebuchet MS", serif;

}


.navbtn {
    /*font-family: "Trebuchet MS";*/
    background-color: #23822b;
    /*#4CAF50; Bright Green from W3Schools */
    border: none;
    color: grey;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
    border: 1px solid #e7e7e7;;
    /*  color: grey;*/

}

li {
    float: left;
    /*padding: 15px 32px;*/
    /*border: 1px solid;*/
    /* color: grey;*/
}

#right {
    float: right;
}

select {
    background-color: #d8d8d8;
    border: none;
    font-size: 15px;
    padding: 10px 5px 10px 5px;
    -webkit-appearance: none;
    -webkit-border-radius: 7px;
}

/*li a {
  display: block;
  color: grey;
  text-align: center;
  text-decoration: none;
}*/

/* Change the link color to #111 (black) on hover */
/*li a:hover {
  background-color: #111;
}*/


#options {
    margin-top: 15px;

}

#navbar {
    margin-bottom: 20px;
}

#navbar button {
    background-color: #f3f3f3;
    /* color: grey;*/

}

.navbtn:hover {
    background-color: #23822b !important;
    color: white !important;

}


#logOff {
    margin-bottom: 0;

}

#signin {
    background-color: white;
    border-radius: 20px;
    margin-top: 3%;
    padding-bottom: 10%;
    padding-top: 10%;
    margin-left: 20%;
    margin-right: 20%;

}

#signinHeader {
    padding-bottom: 30px;

}

input[type=text], input[type=password] {
    width: 60%;
    border-radius: 80px;
    background-color: #e0e1e2;
    padding: 15px 30px 15px 30px;
    font-size: 1.25em;
}


input[type=submit] {

    background-color: #23822b; /* Green */
    border: none;
    color: white;
    padding: 25% 25% 20px 20px;

    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    border-radius: 40px;
    -webkit-appearance: none;

}


.inviteLink {
    background: none !important;
    color: blue;
    border: none;
    padding: 0 !important;
    font: inherit;
    /*border is optional*/
    /*border-bottom:1px solid blue; */
    cursor: pointer;
}

.removeBttn {
    background: none !important;
    color: red;
    border: none;
    padding-left: 10px !important;
    margin-right: 10px !important;
    font: inherit;
    /*border is optional*/
    /*border-bottom:1px solid blue; */
    cursor: pointer;
}


@media only screen and (max-width: 800px),(max-device-width: 800px) {
    /*mobile signin field, keeping navbar the same!*/
    input[type=text], input[type=password] {
        font-size: 2.3em;
        width: 85%;
        padding: 4%;
        margin-top: 10%;

    }

    #logo {

        display: none !important;
    }

    .navbtn {
        font-size: 130%;
    }

    #logoffBttn {
        font-size: 130%;

    }

    #GPA {
        font-size: 150%;

    }

    input[type=submit] {
        margin-top: 12%;
        width: 85%;
        font-size: 1.5em;
        padding: 5%;
        border-radius: 90px;
        margin-bottom: 10%;

    }


    #signinHeader {
        margin-bottom: 4%;
        font-size: 3.5em;

    }

    #signin {
        margin-top: 25%;
        margin-left: 5%;
        margin-right: 5%;
    }


    #cred {
        font-size: 1.3em;
        margin-bottom: 3%;
    }


    #newThing {

        overflow-x: auto;
    }
}


@media only screen and (max-width: 730px),(max-device-width: 730px) {
    /*	li {
            float: none;
            text-align: center;

        }
        #right {
            float: none;
        }
        #button {

            margin-top: 20px;
        }
        #navbar li:hover {
            background-color: #23822b;
            color: white;

        }*/
}